@font-face {
    font-family: "Forte";
    src: url("/fonts/ForteMT.eot?#iefix") format("embedded-opentype"),
         url("/fonts/ForteMT.woff") format("woff"),
         url("/fonts/ForteMT.woff2") format("woff2"),
         url("/fonts/ForteMT.ttf")  format("truetype"),
         url("/fonts/ForteMT.svg#ForteMT") format("svg");
    font-weight: normal;
    font-style: normal;
}
