{% extends 'default.html.twig' %}

{% set hasBreadcrumb = true %}

{% block title %}{{ 'Access denied'|trans }} — {{ 'The Kings\' Ride in Doloplazy'|transchoice(0) }}{% endblock %}

{% block breadcrumb %}
<span class="breadcrumb-item active">{{ 'Access denied'|trans }}</span>
{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ 'Access denied'|trans }}</h2>
</div>
{% endblock %}
