{% extends 'default.html.twig' %}

{% set hasBreadcrumb = true %}

{% block title %}{{ 'Downloads'|trans }} — {{ 'The Kings\' Ride in Doloplazy'|transchoice(1) }}{% endblock %}

{% block breadcrumb %}
<span class="breadcrumb-item active">{{ 'Downloads'|trans }}</span>
{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ 'Downloads'|trans }}</h2>
</div>
{% endblock %}
