{% extends 'default.html.twig' %}

{% set hasBreadcrumb = true %}

{% set metaDescription = 'Historie Jízdy králů v Doloplazích.' %}

{% block pageTitle %}{{ 'The Kings\' Ride in Doloplazy'|transchoice(1) }}{% endblock %}

{% block title %}{{ 'History of the Kings\' Ride'|trans }}{% endblock %}

{% block breadcrumb %}
<span class="breadcrumb-item active">{{ 'History of the Kings\' Ride'|trans }}</span>
{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ 'History of the Kings\' Ride'|trans }}</h2>
    <p>
        Jízda králů má historický podklad. Přes dálku staletí nám uchovává ohlas vzpomínek sahajících hluboko do naší národní minulosti.<br>
        Tento starobylý lidový obyčej se udržoval (jak to dosvědčují záznamy v archivech a soudní akta) po celá staletí na moravském Slovácku i na Hané.<br>
        Knížecí a později královské berně, nutné k vydržování královy ozbrojené moci a úhradu nákladu jeho dvora, bývaly vymáhány napoddaném lidu po dobrém i po zlém. Zdráhal-li se kdo uložené berně odvádět, byl potrestán nucenou výživou králova vojska ať už ležením nebo přezimováním v kraji - a vojáci bez ohledu na nouzi obyvatelstva byli schopni vyjíst města či okolní vesnice do osledního zrna či stébla sena a slámy.
    </p>
    <p>
        V neklidných dobách byla Morava rozdělena na údělná kněžství. Členové panovnického rodu se navzájem svářili a vyvolávali časté vzpoury proti králi a to pak mělo za následek trestná tažení, kterými nejvíce trpěl lid. Z uherského pomezí byly na Moravu podnikány časté loupeživé vpády. V takových poměrech docházelok situacím, kdy kníže nebo král po nešťastném střetnutí se silnějším protivníkem projížděl v přestrojení (v ženském kroji a s růži v ústech) s malou družinou svých nejvěrnějších krajem, aby unikl svým pronásledovatelům. Takové události se vtiskly do paměti poddaného lidu. Lidová poezie je přetvářela po svém, ne bez jisté dávky svérázného humoru a ironie. To je patrno jak z celého uspořádání obyčeje, tak z kazdé věty královských hlasatelů.
    </p>
    <p>
        Na svatodušní pondělí vyjížděli z moravských dědin desítky nejzdatnějších mládenců na těch nejvybranějších koních (ti bývali největší chloubou každého dobrého hospodáře), aby doprovázeli svého "krále" na jeho cestě po okolí. Přitom se snažily dopadnout cizího "nepřátelského krále", za kterého pak požadovaly zančně vysoké výkupné, rovnající se ceně koně. Docházelo přitom k šarvátkám, které nekončívali vždy dobře, protože chlapci bývali vyzbrojeni. Tak tomu bylo např. u Halenkovic, Ivanovic, na Určické pláni. V roce 1819 se nešťastnou náhodou setkaly na loveckých pastvinách u Přerova čtyři královské družiny, které se navzájem vyzvaly, aby vydaly krále do zajetí. Tomuto vyzvání samozřejmě nevyhověla žádná z nich, a tak došlo k opravdové bitvě mezi moštěnickými a šířavskými mládenci na jedné straně a lověšickými nastraně druhé. Výsledek byl více než tragický. Z 80 chlapců vyvázlo bez zranění sotva 10. Na místě zůstalo 8 padlých a 20 těžce zraněných.
    </p>
    <p>
        Guberniální úřady zakázaly hned na to při „Jízdách” nošení střelných zbraní a v roce 1835 zbraní sečných a bodných.<br>
        Podobné události způsobily, že jízda králů na Hané ztrácela časem na oblibě a postupem doby upadla v zapomnění.<br>
        Ale ať už na tomto jinak krásném obyčeji lpí tato smutná vzpomínka či ne, skutečností zůstává, že urostlí mládenci v národních krojích, sedící na ušlechtilých koních, byli a zůstávájí dodnes tou nejkrásnější podívanou a hlubokým nezapomenutelným zážitkem, jaký nám může náš rodný kraj poskytnout.
    </p>
</div>
{% endblock %}
