{% extends 'default.html.twig' %}

{% set hasBreadcrumb = true %}

{% set metaDescription = 'Historie Jízdy králů v Doloplazích.' %}

{% block pageTitle %}{{ 'The Kings\' Ride in Doloplazy'|transchoice(1) }}{% endblock %}

{% block title %}{{ 'History of the Kings\' Ride'|trans }}{% endblock %}

{% block breadcrumb %}
<span class="breadcrumb-item active">{{ 'History of the Kings\' Ride'|trans }}</span>
{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ 'History of the Kings\' Ride'|trans }}</h2>
    {% if app.request.get('_locale') == 'en' %}
    <p>
        The Ride of Kings has a historical background. Over the centuries, it keeps the memory of our memories deep in our national past.
        This ancient folk custom was maintained (as witnessed by records in the archives and judicial acts) for hundreds of years in Moravian Slovakia and Haná.
        The princes and later the royal prisoners, necessary to maintain the king's armed power and redeem the cargo of his court, were exalted to the well-off people for good and evil. If the bearer of the devil was reluctant to pay, he was punished by the forced feeding of the king's troops either by lying in or out of the countryside - and soldiers, regardless of the need of the population, were able to eat the towns or the surrounding villages into the grain or straw of straw and straw.
    </p>
    <p>
        In turbulent times, Moravia was divided into a sacred priesthood. The members of the royal family muttered to each other and caused frequent rebellions against the king, and this resulted in the criminal strikes that suffered the most. From the Hungarian border, frequent raids were carried out in Moravia. In such circumstances, the prince or king, after an unfortunate encounter with a stronger adversary, traveled in disguise (in women's costume and with a rose in his mouth) with a small group of his most faithful lands to escape his pursuers. Such events were imprinted in the memory of the subjugated people. Folk poetry has transformed their own, not without a certain amount of peculiar humor and irony. This is apparent both from the whole order of the custom and from every sentence of the royal announcers.
    </p>
    <p>
        On Monday morning, from the Moravian villages, dozens of the most prolific young men on the most prestigious horses (who were the greatest pride of every good farmer) were leaving to accompany their "king" on his way around. At the same time, they attempted to strike a foreign "enemy king", for which they demanded a high-level ransom equal to the horse's price. It was a struggle that did not always end well because the boys were armed. This was the case, for example, at Halenkovic, Ivanovic, on Určice Plain. In 1819, four royal seniors met with an unfortunate accident on the hunting pastures of Přerov, who called each other to take the king into captivity. Of course, none of these calls made it possible, and there was a real battle between the Moorish and Broadbeans on the one hand and the lovers on the other. The result was more than tragic. Out of the 80 boys left barely 10 injuries. There were 8 dead and 20 seriously injured.
    </p>
    <p>
        The Gubernian authorities banned the carrying of firearms at the "Rides", and in 1835 the weapons and stabbing weapons.
        Similar events caused the kings of Hanoi to lose their time in popularity and, in the course of time, fell into oblivion.
        But whether this sad memory or not, it is true that the grown-ups of the national costumes, sitting on the noble horses, have been and still remain the most beautiful spectacle and a deep, unforgettable experience that our native country can give us.
    </p>
    {% else %}
    <p>
        Jízda králů má historický podklad. Přes dálku staletí nám uchovává ohlas vzpomínek sahajících hluboko do naší národní minulosti.<br>
        Tento starobylý lidový obyčej se udržoval (jak to dosvědčují záznamy v archivech a soudní akta) po celá staletí na moravském Slovácku i na Hané.<br>
        Knížecí a později královské berně, nutné k vydržování královy ozbrojené moci a úhradu nákladu jeho dvora, bývaly vymáhány napoddaném lidu po dobrém i po zlém. Zdráhal-li se kdo uložené berně odvádět, byl potrestán nucenou výživou králova vojska ať už ležením nebo přezimováním v kraji - a vojáci bez ohledu na nouzi obyvatelstva byli schopni vyjíst města či okolní vesnice do osledního zrna či stébla sena a slámy.
    </p>
    <p>
        V neklidných dobách byla Morava rozdělena na údělná kněžství. Členové panovnického rodu se navzájem svářili a vyvolávali časté vzpoury proti králi a to pak mělo za následek trestná tažení, kterými nejvíce trpěl lid. Z uherského pomezí byly na Moravu podnikány časté loupeživé vpády. V takových poměrech docházelok situacím, kdy kníže nebo král po nešťastném střetnutí se silnějším protivníkem projížděl v přestrojení (v ženském kroji a s růži v ústech) s malou družinou svých nejvěrnějších krajem, aby unikl svým pronásledovatelům. Takové události se vtiskly do paměti poddaného lidu. Lidová poezie je přetvářela po svém, ne bez jisté dávky svérázného humoru a ironie. To je patrno jak z celého uspořádání obyčeje, tak z kazdé věty královských hlasatelů.
    </p>
    <p>
        Na svatodušní pondělí vyjížděli z moravských dědin desítky nejzdatnějších mládenců na těch nejvybranějších koních (ti bývali největší chloubou každého dobrého hospodáře), aby doprovázeli svého "krále" na jeho cestě po okolí. Přitom se snažily dopadnout cizího "nepřátelského krále", za kterého pak požadovaly zančně vysoké výkupné, rovnající se ceně koně. Docházelo přitom k šarvátkám, které nekončívali vždy dobře, protože chlapci bývali vyzbrojeni. Tak tomu bylo např. u Halenkovic, Ivanovic, na Určické pláni. V roce 1819 se nešťastnou náhodou setkaly na loveckých pastvinách u Přerova čtyři královské družiny, které se navzájem vyzvaly, aby vydaly krále do zajetí. Tomuto vyzvání samozřejmě nevyhověla žádná z nich, a tak došlo k opravdové bitvě mezi moštěnickými a šířavskými mládenci na jedné straně a lověšickými nastraně druhé. Výsledek byl více než tragický. Z 80 chlapců vyvázlo bez zranění sotva 10. Na místě zůstalo 8 padlých a 20 těžce zraněných.
    </p>
    <p>
        Guberniální úřady zakázaly hned na to při „Jízdách” nošení střelných zbraní a v roce 1835 zbraní sečných a bodných.<br>
        Podobné události způsobily, že jízda králů na Hané ztrácela časem na oblibě a postupem doby upadla v zapomnění.<br>
        Ale ať už na tomto jinak krásném obyčeji lpí tato smutná vzpomínka či ne, skutečností zůstává, že urostlí mládenci v národních krojích, sedící na ušlechtilých koních, byli a zůstávájí dodnes tou nejkrásnější podívanou a hlubokým nezapomenutelným zážitkem, jaký nám může náš rodný kraj poskytnout.
    </p>
    {% endif %}
</div>
{% endblock %}
