.btn-outline-white {
    color: #fff;
    background-image: none;
    background-color: transparent;
    border-color: #fff;
}

.btn-outline-white:hover,
.btn-outline-white:focus {
    color: #fff;
}
