.navbar-sticky {
    position: sticky;
    top: 0;
}

.navbar-inverse .input-group .form-control,
.navbar-inverse .input-group .btn-primary {
    border-color: rgba($black,.2);
}

@include media-breakpoint-up('lg') {
    .navbar-border-bottom {
        border-bottom: 1px solid rgba($black,.2);
    }
}
