.navbar-sticky {
    position: sticky;
    top: 0;
}

.navbar-border-bottom {
    border-bottom: 1px solid $navbar-inverse-toggler-border;
}

@include media-breakpoint-down (xs) {
    .navbar > .container {
        margin: 0;
    }
}
