.text-light,
.text-light a {
    color: $gray-light;
}

.text-light a:hover,
.text-light a:focus {
    color: lighten($gray-light, 10%);
}

.text-lighter,
.text-lighter a {
    color: $gray-lighter;
}

.text-lighter a:hover,
.text-lighter a:focus {
    color: lighten($gray-lighter, 10%);
}

@include media-breakpoint-down(sm) {
    .display-3 {
        font-size: 3rem;
    }

    .display-4 {
        font-size: 2rem;
    }
}
