.bg-horseman {
    background-image: url('../images/praporecnik-black-transparent.svg');
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
}

.text-sm {
    font-size: $font-size-sm;
}

.text-xs {
    font-size: $font-size-xs;
}

@include media-breakpoint-down(md) {
    .flex-md-1 {
        flex: 1 0 auto;
    }
}

.flex-auto {
    flex: 1 0 auto;
}
