.bg-horseman {
    background-image: url('../images/praporecnik-black-transparent.svg');
    background-position: left center;
    background-size: auto 96%;
    background-repeat: no-repeat;
}

.text-sm {
    font-size: $font-size-sm;
}

.text-xs {
    font-size: $font-size-xs;
}
